/Capitulo3/Renderable/nbproject/private/
/Capitulo3/RenderableObject/nbproject/private/
/Capitulo3/TransformObjects_/nbproject/private/
/Capitulo3/ViewProjectionAndViewport_/nbproject/private/
/Capitulo3/CameraObjects/nbproject/private/